.DS_Store
.idea/

# Next.js app
Frontend/node_modules/
Frontend/.next/
Frontend/out/
Frontend/.vercel
Frontend/.env*
Frontend/.env.local
Frontend/npm-debug.log*
Frontend/yarn-error.log*
Frontend/*.tsbuildinfo
Frontend/next-env.d.ts
